<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style/style.css">
    <title>Suit Game</title>
</head>
<body>
    <section class="container">
        <div class="header">
            <a href="/"><img src="/assets/image/back.png" alt="back" width="55px" height="55px"></a>
            <img src="/assets/image/logo.png" alt="logo" width="72px" height="72px">
            <div class="game-name">ROCK PAPER SCISSORS</div>
        </div>
        
        <div class="main-game">
            <!-- Player-human -->
            <div class="player">
                <h2 class="player-name1">PLAYER 1</h2>
                <div class="option-player1">
                    <div id="rock"><img src="/assets/image/batu.png" alt="Rock" width="128px" height="92px"></div>
                    <div id="paper"><img src="/assets/image/kertas.png" alt="paper" width="115px" height="150px"></div>
                    <div id="scissors"><img src="/assets/image/gunting.png" alt="scissors" width="134px" height="160px"></div>
                </div>
            </div>

            <div class="center-element">
                <p id="info" class="vs-mark"></p>
            </div>

            <div class="refresh">
                <img src="/assets/image/refresh.png" alt="refresh-button" width="77px" height="71px">
            </div>
            
            <!-- Player Computer -->
            <div class="computer">
                <h2 class="player-name2">COMP</h2>
                <div class="option-player2">
                    <div id="rock"><img src="/assets/image/batu.png" alt="Rock" width="128px" height="92px"></div>
                    <div id="paper"><img src="/assets/image/kertas.png" alt="paper" width="115px" height="150px"></div>
                    <div id="scissors"><img src="/assets/image/gunting.png" alt="scissors" width="134px" height="160px"></div>
                </div>
            </div>
        </div>
    </section>

<script src="/assets/script/script.js"></script>
</body>
</html>